<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>CityCard</title>
    <!-- https://getbootstrap.com/docs/5.3/getting-started/download/ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <header-component-user page="cliente_home" name="segnaposto"></header-component-user>
    <main>
        <h1>Carte di credito associate</h1>
        <button id="update-carte-btn" class="btn btn-primary">Aggiorna</button>
        <table class="table table-striped" id="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cognome</th>
                    <th scope="col">Scadenza</th>
                    <th scope="col">Cancella</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
        
        <h1>Associa carta di credito</h1>
        <div class="container mt-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">            
                <div class="card-header">Dati Carta di Credito</div>    
                <div class="card-body">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="numero_carta_reg" name="numero_carta" placeholder="Numero Carta">                        
                            <label for="numero_carta_reg" class="form-label">Numero Carta</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="cognome_carta_reg" name="username" placeholder="Cognome Intestatario">                        
                            <label for="cognome_carta_reg" class="form-label">Cognome Intestatario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nome_carta_reg" name="username" placeholder="Nome Intestatario">                        
                            <label for="nome_carta_reg" class="form-label">Nome Intestatario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="mese_carta_reg" name="username" placeholder="Mese Scadenza">                        
                            <label for="mese_carta_reg" class="form-label">Mese Scadenza</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="anno_carta_reg" name="username" placeholder="Anno Scadenza">                        
                            <label for="anno_carta_reg" class="form-label">Anno Scadenza</label>
                        </div>

    
                        <button id="button_reg" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="components/header_component_user.js"></script>
    <script src="js/common/utility.js"></script>
    <script src="js/cliente/carta_di_credito/carta_di_credito.js"></script>
</body>
</html>