main {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

table {
    margin: 50px auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 5px;
}

nav {
    /* position: fixed; */
    background-color: #0a0a23;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {    
    list-style: none;    
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

a.disabled {
    /* Make the disabled links grayish*/
    /* color: gray; */
    background-color: #AEAEAE !important;
    /* And disable the pointer events */
    pointer-events: none;
}

/* STAR RATING */

/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #333333;
} */
.container{
    /* background-color: #000000; */
    /* border: 2px solid #ffd900; */
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px #ffd900; */
    /* padding: 30px; */
}
span{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
p{
    color: white;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    /* gap: 15px; */
}
.rating input {
    display: none;
}
.rating label {
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}
.rating input:checked~label {
    color: #f5b301;
}
.rating label:hover,
.rating label:hover~label {
    color: #f5b301;
}

/* overwrite bootstrap */
.form-check {
    margin-left:0 !important;
    padding-left:0 !important;
}